certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
kornia==0.6.4
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scikit-image==0.19.2
six==1.16.0
tensorflow==2.8.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchinfo==1.6.5
torchvision==0.12.0+cu113
tqdm==4.63.1
typing-extensions==4.1.1
urllib3==1.26.9
